<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


	<bean
		class="com.ag.spring_extensions.properties.conversion.DefaultPropertyConversionService"
		id="conversionService" />

	<bean
		class="com.ag.spring_extensions.properties.event.GuavaPropertyChangedEventNotifier" id="eventNotifier">
	</bean>

	<bean
		class="com.ag.spring_extensions.properties.resolver.SubstitutingPropertyResolver"
		id="propertyResolver" />

</beans>
